{{if .Values.identity -}}
{{if and (.Values.identity.issuer) (eq .Values.identity.issuer.scheme "kubernetes.io/tls") -}}
---
# Self-signing issuer is used to create the root CA (linkerd-trust-anchor).
apiVersion: {{ template "cert-manager.apiversion" . }}
kind: Issuer
metadata:
  name: linkerd-selfsigning-issuer
  namespace: {{.Release.Namespace}}
  labels:
    linkerd.io/control-plane-component: identity
    linkerd.io/control-plane-ns: {{.Release.Namespace}}
  annotations:
    linkerd.io/created-by: {{ printf "linkerd/helm %s" .Values.linkerdVersion }}
    "helm.sh/hook": pre-install
    "helm.sh/hook-weight": "-6"
spec:
  selfSigned: {}
---
# This is the root CA cert and must have a long TTL.
apiVersion: {{ template "cert-manager.apiversion" . }}
kind: Certificate
metadata:
  name: linkerd-trust-anchor
  namespace: {{.Release.Namespace}}
  labels:
    linkerd.io/control-plane-component: identity
    linkerd.io/control-plane-ns: {{.Release.Namespace}}
  annotations:
    linkerd.io/created-by: {{ printf "linkerd/helm %s" .Values.linkerdVersion }}
    "helm.sh/hook": pre-install
    "helm.sh/hook-weight": "-5"
spec:
  commonName: identity.{{.Release.Namespace}}.{{.Values.clusterDomain}}
  duration: 43800h # 5 years
  isCA: true
  issuerRef:
    name: linkerd-selfsigning-issuer
  keyAlgorithm: ecdsa
  secretName: linkerd-trust-anchor
---
# This issuer uses the root CA to sign short-lived CA certs used by the identity deployment.
apiVersion: {{ template "cert-manager.apiversion" . }}
kind: Issuer
metadata:
  name: linkerd-trust-anchor-issuer
  namespace: {{.Release.Namespace}}
  labels:
    linkerd.io/control-plane-component: identity
    linkerd.io/control-plane-ns: {{.Release.Namespace}}
  annotations:
    linkerd.io/created-by: {{ printf "linkerd/helm %s" .Values.linkerdVersion }}
    "helm.sh/hook": pre-install
    "helm.sh/hook-weight": "-4"
spec:
  ca:
    secretName: linkerd-trust-anchor
---
# This is the dynamic identity CA which is re-issued every 24 hours.
apiVersion: {{ template "cert-manager.apiversion" . }}
kind: Certificate
metadata:
  name: linkerd-identity-issuer
  namespace: {{.Release.Namespace}}
  labels:
    linkerd.io/control-plane-component: identity
    linkerd.io/control-plane-ns: {{.Release.Namespace}}
  annotations:
    linkerd.io/created-by: {{ printf "linkerd/helm %s" .Values.linkerdVersion }}
    "helm.sh/hook": pre-install
    "helm.sh/hook-weight": "-3"
spec:
  commonName: identity.{{.Release.Namespace}}.{{.Values.clusterDomain}}
  duration: 24h
  isCA: true
  issuerRef:
    name: linkerd-trust-anchor-issuer
  keyAlgorithm: ecdsa
  renewBefore: 1h
  secretName: linkerd-identity-issuer
  usages:
  - cert sign
  - crl sign
  - server auth
  - client auth
{{- end}}
{{- end}}
