{{ $hookName := "linkerd-janitor" -}}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ $hookName }}
  namespace: {{ .Release.Namespace }}
  annotations:
    "helm.sh/hook": "post-delete"
    "helm.sh/hook-weight": "-5"
    "helm.sh/hook-delete-policy": "hook-succeeded,hook-failed"
  labels:
    app: {{ $hookName }}
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  resourceNames:
  - linkerd-identity-issuer
  - linkerd-trust-anchor
  - linkerd-trust-anchor-base64
  verbs:
  - delete
- apiGroups:
  - ""
  resources:
  - namespaces
  resourceNames:
  - {{ .Release.Namespace }}
  verbs:
  - delete
- apiGroups:
  - {{ template "cert-manager.apigroup" . }}
  resources:
  - issuers
  resourceNames:
  - linkerd-selfsigning-issuer
  - linkerd-trust-anchor-issuer
  verbs:
  - delete
- apiGroups:
  - {{ template "cert-manager.apigroup" . }}
  resources:
  - certificates
  resourceNames:
  - linkerd-identity-issuer
  - linkerd-trust-anchor
  verbs:
  - delete
- apiGroups:
  - extensions
  resources:
  - podsecuritypolicies
  resourceNames:
  - linkerd-{{ .Release.Namespace }}-control-plane
  verbs:
  - use
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ $hookName }}
  namespace: {{ .Release.Namespace }}
  annotations:
    "helm.sh/hook": "post-delete"
    "helm.sh/hook-weight": "-5"
    "helm.sh/hook-delete-policy": "hook-succeeded,hook-failed"
  labels:
    app: {{ $hookName }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ $hookName }}
  namespace: {{ .Release.Namespace }}
  annotations:
    "helm.sh/hook": "post-delete"
    "helm.sh/hook-weight": "-4"
    "helm.sh/hook-delete-policy": "hook-succeeded,hook-failed"
  labels:
    app: {{ $hookName }}
subjects:
  - kind: ServiceAccount
    name: {{ $hookName }}
    namespace: {{ .Release.Namespace }}
roleRef:
  kind: Role
  name: {{ $hookName }}
  apiGroup: rbac.authorization.k8s.io
---
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ $hookName }}
  namespace: {{ .Release.Namespace }}
  annotations:
    "helm.sh/hook": "post-delete"
    "helm.sh/hook-weight": "-3"
    "helm.sh/hook-delete-policy": "hook-succeeded,hook-failed"
  labels:
    app: {{ $hookName }}
spec:
  template:
    spec:
      serviceAccountName: {{ $hookName }}
      containers:
      - name: janitor
        image: "{{ .Values.kubectlImage.registry }}/{{ .Values.kubectlImage.name }}:{{ .Values.kubectlImage.tag }}"
        imagePullPolicy: "{{ .Values.kubectlImage.pullPolicy }}"
        securityContext:
          runAsUser: 1000
          runAsGroup: 1000
          readOnlyRootFilesystem: true
        resources: {{- toYaml .Values.hooks.resources | nindent 10 }}
        command:
        - /bin/sh
        - -e
        - -c
        - >-
{{- if and (.Values.identity.issuer) (eq .Values.identity.issuer.scheme "kubernetes.io/tls") }}
          kubectl -n {{ .Release.Namespace }} delete issuer linkerd-selfsigning-issuer 2>&1;
          kubectl -n {{ .Release.Namespace }} delete certificate linkerd-identity-issuer 2>&1;
          kubectl -n {{ .Release.Namespace }} delete secret linkerd-identity-issuer 2>&1;
          kubectl -n {{ .Release.Namespace }} delete issuer linkerd-trust-anchor-issuer 2>&1;
          kubectl -n {{ .Release.Namespace }} delete certificate linkerd-trust-anchor 2>&1;
          kubectl -n {{ .Release.Namespace }} delete secret linkerd-trust-anchor 2>&1;
          kubectl -n {{ .Release.Namespace }} delete secret linkerd-trust-anchor-base64 2>&1;
{{- end }}
          kubectl delete ns {{ .Release.Namespace }} 2>&1;
      restartPolicy: Never
  backoffLimit: 6
